**/*.md
**/.gitkeep
**/.vscode
.all-contributorsrc
.dockerignore
.editorconfig
.eslintrc.js
.git
.gitbook.yaml
.gitconfig
.github
.gitignore
.husky
.next
.prettierignore
config/db/*
config/logs/*
config/*.json
dist
Dockerfile*
docker-compose.yml
docs
LICENSE
node_modules
public/os_logo_filled.png
public/preview.jpg
snap
stylelint.config.js
cypress
