**/*.md
**/.gitkeep
**/.vscode
.all-contributorsrc
.dockerignore
.editorconfig
.eslintrc.js
.git
.gitbook.yaml
.gitconfig
.gitignore
.github
.next
.prettierignore
config/db/db.sqlite3
config/db/logs/overseerr.log
Dockerfile*
docker-compose.yml
docs
LICENSE
node_modules
snap
stylelint.config.js
